<th:secretBlock xmlns:th="http://www.thymeleaf.org" th:fragment="signInFragment">
    <div class="box text-style" tabindex="-1">
        <form th:action="@{/login}" th:method="post">>
            <div>
                <h3 class="text-form head-text">Welcome to CryptoChat</h3>
            </div>
            <h2 class="text-form username-text">Login</h2>
            <div>
                <input class="input-style text-rep" autocomplete="off" name="username" type="text" id="username" placeholder="Username"
                       required>
            </div>
            <h2 class="text-form log-text">Password</h2>
            <div>
                <input class="input-style text-rep" autocomplete="off" name="password" type="password" id="password" placeholder="Password"
                        required>
            </div>
            <a th:href="@{/goToForgortPasswordForm}" class="forgot-text">Forgot password?</a>
            <button class="button-signin button" type="submit" >Sign in</button>
            <img class="rounded mx-auto d-block deviderOr" th:src="@{/devider/devider-or.jpg}" alt="or">
            <div class="box-signup">
                <text class="text-signup">New in CryptoChat? </text>
                <a th:href="@{/goToSignUpForm}" class="link-signup">Create Account</a>
            </div>
        </form>
    </div>
</th:secretBlock>

<th:blockRequest xmlns:th="http://www.thymeleaf.org"  th:fragment="signUpFragment">
    <div class="box text-style" tabindex="-1">
        <form th:object="${signUpRequest}" th:action="@{/registered}" th:method="post">
            <div>
                <h3 class="text-form sign-up-head-text">Sign Up in CryptoChat</h3>
            </div>
            <h2 class="text-form username-text">Login</h2>
            <div>
                <input class="input-style text-rep" autocomplete="off" name="login" type="text" id="login"
                       th:field="*{username}" required>
            </div>
            <h2 class="text-form log-text">Email</h2>
            <div>
                <input class="input-style text-rep" autocomplete="off" name="email" type="email" id="email"
                       th:field="*{email}" required>
            </div>
            <h2 class="text-form log-text" >Full name</h2>
            <div>
                <input class="input-style text-rep" autocomplete="off" name="fullName" type="text" id="fullName"
                       th:field="*{fullName}" required>
            </div>
            <h2 class="text-form log-text" >Password</h2>
            <div>
                <input class="input-style text-rep"  name="password" autocomplete="off" type="password" id="password"
                       th:field="*{password}" minlength="8" maxlength="35" required>
            </div>
            <h2 class="text-form log-text">Repeat Password</h2>
            <div>
                <input class="input-style text-rep" name="passwordRepeat" autocomplete="off" type="password" id="passwordRepeat"
                       th:field="*{confirmPassword}" minlength="8" maxlength="35" required>
            </div>
            <div class="check-secretBlock">
                <input type="checkbox" id="agree" name="agree" required>

                <label class="check-text" for="agree">I agree to the Terms of User </label>
            </div>
            <button class="button-signin button" type="submit" >Sign up</button>
        </form>
        <form th:action="@{/goToSignInForm}" th:method="get">
            <div class="box-signup">
                <text class="text-signup-signup">Already have an account? </text>
                <a th:href="@{/goToSignInForm}" class="link-signup">Sign in</a>
            </div>
        </form>
    </div>
</th:blockRequest>