*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{

}

.logo{
    margin-top: 5%;
    height: 100px;
}

.login-block{
    width: 100%;

    float:left;
    background-color: #ffffff;
    display: block;
}
.check-block{
    width: 50%;
    height: 5%;
    float:left;
    display: table;
    margin-top: 20px;
    margin-left: 40%;
}
.check-text{
    background: linear-gradient(burlywood, darkcyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1%;
    font-size: 13px;
}
.login-block-form{
    width: 50%;
    height: 50%;
}
.text-style{
    font-family: 'Monserrat', sans-serif;
}

.error-text{
    background: #9d2e2e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.notification{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 15px;
}
.info-text{
    background: linear-gradient(green, greenyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
.head-text{
    margin-top: 70px;
    font-size: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sign-up-head-text{
    margin-top: 40px;
    font-size: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.username-text{
    margin-top: 70px;
    margin-left: 40%;
    font-size: 15px;
}
.log-text{
    margin-top: 20px;
    margin-left: 40%;
    font-size: 15px;
}

.forgot-text{
    text-decoration: none;
    color: #696969;
    margin-top: 20px;
    margin-left: 55%;
    font-size: 12px;
    display: table;
}

.forgot-text:hover{
    color: black;
}

.text-form {
    background: #b7b7b7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
.text-rep:-webkit-autofill{
    transition: all 5000s ease-in-out 0s;
}
.input-style {
    margin-left: 40%;
    border-width:  0 0 1px 0;
    font-size: 15px;
    width: 20%;
    color: black;
    background-color: transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #d9d9d9, #d9d9d9);
}
.input-style:hover {
    border-image-source: linear-gradient(to right, #696969, #696969);
}
.input-style:focus {
    outline: none;
    color: black;
    border-width:  0 0 1px 0;
    border-image-source: linear-gradient(to right, #696969, #696969);
}
.button-signin{
    border-width:  0;
    background: #696969;
    color: white;
}
.button-signin:hover {
    background: black;
    color: grey;
}
.button-signin:active {
    border-width: 1px;
    border-color: grey;
}
.box {
    animation: 3s show ease;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
.button{
    outline: none;
    width: 11.5%;
    height: 50px;
    margin-top: 30px;
    margin-left: 44.25%;
    border-radius: 30px;
    font-size: 20px;
    min-height: auto;
    min-width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deviderOr{
    margin-top: 30px;
}

.box-signup{
    display:table;
    margin-top:1%;

    width: 100%;
}

.text-signup{
    color: #696969;
    margin-left: 44.75%;
    font-size: 12px;
}
.text-signup-signup{
    color: #696969;
    margin-left: 45.25%;
    font-size: 12px;
}
.link-signup{
    font-size: 13px;
    color: #696969;
}

.link-signup:hover{
    color:black;
}

.button-signup{
    margin-top: 50px;
    border-width:  0;
    background: #696969;
    color: white;
}
.button-signup:hover{
    background: black;
    color: grey;
}

.button-signup:active {
    border-width: 1px;
    border-color: grey;
}


