#body {
    background-color: #DFCAB5;
}

#navbar {
    background-color: #212227;
    --bs-navbar-color: #8B8B93;
    --bs-navbar-hover-color: #8F7154;
    --bs-navbar-brand-color: #F1E4D7;
    --bs-navbar-brand-hover-color: #F1E4D7;
}

#write-form, #setting-form {
    background-color: #F1E4D7;
    border-color: #8F7154;
}

.input-group-text {
    background-color: #DFCAB5;
    border-color: #DFCAB5;
}

.form-control {
    background-color: #FFFCF5;
}

.btn {
    background-color: #8B8B93;
    color: #F1E4D7;
    border-color: #8B8B93;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #8B8B93;
    color: #F1E4D7;
    transform: scale(0.9);
}

.btn:first-child:active {
    background-color: #8B8B93;
    color: #F1E4D7;
    transform: scale(0.85);
}

#btn-plus:hover, #btn-minus:hover {
    background-color: #F1E4D7;
    /*Do darkly*/
}

#btn-plus:active, #btn-minus:active {
    background-color: #F1E4D7;
    /*Do more darkly*/
}

.card {
    background-color: #F1E4D7;
}

tbody, td, tfoot, th, thead, tr {
    border-width: unset;
    border-style: none;
}

tbody tr:hover {
    background: #DFCAB5; /* Цвет фона при наведении */
}

#home-text {
    margin-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    font-family: "Times New Roman", sans-serif;
    font-size: large;
}

.dropdown-menu.dropdown-menu-end {
    background-color: #212227;
    color: #F1E4D7;
    transition: color .15s;
}

.dropdown-toggle::after {
    color: #8B8B93;
}

.dropdown-menu.dropdown-menu-end .dropdown-item {
    background-color: #212227;
    color: #8B8B93;
}

.dropdown-menu.dropdown-menu-end .dropdown-item:hover {
    background-color: #212227;
    color: #8F7154;
}