<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="title" content="Login">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Head Page</title>
</head>

<body class="container-fluid" style="--bs-gradient: #050A30">
<div th:insert="~{fragments/navBarFragment :: 'navbarFragment'}"></div>
<div class="container-fluid m-0 p-0 w-100">
    <div class="container-fluid m-0 p-0 w-100">
        <th:block th:if="${headPageValue} == 'write'">
        <div th:insert="~{fragments/messageFragment :: 'writeFragment'}"></div>
        </th:block>
        <th:block th:if="${headPageValue} == 'incoming'">
            <div th:insert="~{fragments/messageFragment :: 'incomingFragment'}"></div>
        </th:block>
        <th:block th:if="${headPageValue} == 'outcoming'">
            <div th:insert="~{fragments/messageFragment :: 'outcomingFragment'}"></div>
        </th:block>
        <th:block th:if="${headPageValue} == 'setting'">
            <div th:insert="~{fragments/messageFragment :: 'settingFragment'}"></div>
        </th:block>

    </div>
</div>
</body>
</html>