<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="logo"></div>
<div class="login-secretBlock">
    <div th:insert="~{fragments/signFragment :: (${howForm} ? 'signUpFragment' : 'signInFragment')}"></div>
    <div th:insert="~{fragments/errorFragment :: (${isError} ? 'errorFragment' : 'infoFragment')}"></div>
</div>
</body>
</html>