<div th:fragment="profileFragment">
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span
                    class="line"></span><span class="line"></span><span class="line line-angle1"></span><span
                    class="line line-angle2"></span></a>Profile<a><span
                    class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>
        <div class="container" id="profile-card">
            <!--        <p class="h4" id="profile-title">Profile</p>-->
            <div class="profile-top-line"></div>
            <div class="container text-center p-0 profile-container">
                <div class="row">
                    <form th:object="${updateProfileRequest}" th:action="@{/updateProfile}" th:method="post">
                        <div class="col-8">
                            <div class="container p-0 text-start mt-3">
                                <p class="h6">Login</p>
                                <input type="text" class="form-control" th:field="*{username}"
                                       th:placeholder="${signUpRequest?.getUsername()}" aria-label="Login"
                                       aria-describedby="basic-addon1">
                                <p class="text-description">Don't forget your email if you don't want to recover your
                                    email</p>
                            </div>

                            <div class="container p-0 text-start mt-3">
                                <p class="h6">Fullname</p>
                                <input type="text" class="form-control" th:field="*{fullName}"
                                       th:placeholder="${signUpRequest?.getFullName()}" aria-label="Fullname"
                                       aria-describedby="basic-addon1">
                                <p class="text-description">You can remove it at any time.</p>
                            </div>


                            <div class="container p-0 text-start mt-3">
                                <p class="h6">Old password</p>
                                <input type="text" class="form-control" th:field="*{password}" placeholder="********"
                                       aria-label="Password"
                                       aria-describedby="basic-addon1">
                                <p class="text-description">We will use the old password to be sure about you</p>
                            </div>

                            <div class="container p-0 text-start mt-3">
                                <p class="h6">New password</p>
                                <input type="text" class="form-control" th:field="*{confirmPassword}"
                                       placeholder="********"
                                       aria-label="Password"
                                       aria-describedby="basic-addon1">
                                <p class="text-description">Remember your new password</p>
                            </div>

                            <div class="container p-0 text-start mt-3">
                                <p class="h6">Email</p>
                                <input type="text" class="form-control" th:field="*{email}"
                                       th:placeholder="${signUpRequest?.getEmail()}" aria-label="Email"
                                       aria-describedby="basic-addon1">
                                <p class="text-description">Change your e-mail and receive a letter to the new
                                    address</p>
                            </div>
                        </div>
                    </form>
                    <!--                <div class="col-3">-->
                    <!--                    <p class="h6 text-start mt-3">Profile picture</p>-->
                    <!--                    <img id="profile-icon" th:src="@{/image/developers/Hapon.png}">-->
                    <!--                </div>-->
                </div>

                <div class="container d-flex align-items-stretch justify-content-center p-0">
                    <button type="submit" class="btn" id="apply-setting-btn">Save</button>
                </div>

            </div>
        </div>
    </main>
</div>