<div th:fragment="settingsFragment">
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span
                    class="line"></span><span class="line"></span><span class="line line-angle1"></span><span
                    class="line line-angle2"></span></a>Settings<a><span
                    class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>

        <div class="container-fluid mt-4 ms-2">
            <form>
                <text class="h5">Server name</text>
                <input class="form-control w-25 mt-3" type="text" aria-label="Address Service"
                       placeholder="new server name">

                <p class="h5" style="margin: 20px 0 0 0;">RSA key length</p>
                <select class="form-select w-25 mt-3" aria-label="Length key">
                    <option value="1">512</option>
                    <option value="2">1024</option>
                    <option value="3">2048</option>
                </select>
                <p class="text-description mt-3">The longest key will be the strongest</p>

                <text class="h5">Current key</text>
                <textarea
                        class="form-control w-50 mt-3"
                        id="private-key"
                        onclick="copyToClipboard(this.id)"
                        aria-label="With textarea"
                        data-bs-toggle="tooltip"
                        data-popper-placement="top"
                        title="Click to copy"
                        readonly
                >{Key}</textarea>
                <div style="margin: 15px 0 0 0;">
                    <button type="submit" class="mt-2 ms-0 sexy-btn" style="width: 300px;">Generate Keys</button>
                </div>
                <p class="text-description mt-3">If you will change your keys then older keys will invalid</p>
                <script th:src="@{/js/headPage-settingsFragment.js}"></script>

                <p class="h5" >Encryption mode AES</p>
                <div class="container-fluid">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption1"
                               checked>
                        <label class="form-check-label" for="radioEncryption1">
                            CBC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption2">
                        <label class="form-check-label" for="radioEncryption2">
                            CFB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption3">
                        <label class="form-check-label" for="radioEncryption3">
                            OFB
                        </label>
                    </div>
                </div>
                <p class="h5" style="margin: 15px 0 0 0;">Number of picture</p>
                <input class="form-control w-25" style="margin: 15px 0 0 0;" type="number" id="typeNumber" value="1">
                <!-- Замість '1' поставити метод що витягує нинішнє значення -->
                <p class="text-description mt-3">A large number of pictures increases the time of transmission of the message and reduces the profitability of revealing the message</p>
                <div>
                    <button type="submit" class="sexy-btn" style="width: 300px;">Save</button>
                </div>
                <hr st>
                <div>
                    <p class="h5" style="margin: 20px 0 0 0;">Output of generated salt</p>
                    <textarea
                            class="form-control w-50 mt-3"
                            id="private-key"
                            onclick="copyToClipboard(this.id)"
                            aria-label="With textarea"
                            data-bs-toggle="tooltip"
                            data-popper-placement="top"
                            title="Click to copy"
                            readonly
                    >{Salt}</textarea>
                    <div style="display: inline-flex;  flex-wrap: wrap; gap: 50px;">
                        <div>
                            <p class="h5" style="margin: 20px 0 0 0;">Changing the salt's shelf life</p>
                            <input class="form-control" style="margin: 20px 0 0 0; width: 250px;" type="number" id="typeNumber" value="1">
                        </div>
                        <div>
                            <p class="h5" style="margin: 20px 0 0 0;">Salt length</p>
                            <select class="form-select" style="margin: 20px 0 0 0; width: 250px;" aria-label="Length key">
                                <option value="1">16</option>
                                <option value="2">32</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="sexy-btn" style="width: 300px; margin: 20px 0 0 0;">Save settings for salt</button>
                </div>
            </form>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        </div>
    </main>
</div>